@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #C5E4E7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainDiv {
    background-color: #FFFFFF;
    width: 375px;
    margin-top: 41px;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px 25px 0px 0px;
}

.firstPart {
    padding: 32px 32px 0px 32px;
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
}

.billInput {
    margin-top: 6px;
    background-color: #F3F9FA;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 48px;
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
    outline: none;
    text-align: right;
    caret-color: transparent;
    padding-right: 17px;
}

.billInput:focus {
    outline: 2px solid #26C2AE;
}

.billInput::placeholder, .peopleInput::placeholder {
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
    opacity: 0.35;
}

.wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 147px);
    margin-top: 16px;
    gap: 16px;
}

button {
    background: #00474B;
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    border: none;
}

button:hover {
    background: #9FE8DF;
    color: #00474B;
}

.active {
    background: #26C2AE;
    color: #00474B;
}

#customInput {
    border: none;
    caret-color: transparent;
    background-color: #F3F9FA;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
    text-align: right;
    padding-right: 10px;
}

#customInput:focus {
    outline: 2px solid #26C2AE;
}

.customInput::placeholder {
    text-align: start;
    color: #547878;
    font-size: 24px;
    line-height: 36px;
}

.marginText {
    margin-top: 32px;
}

.peopleInput {
    margin-top: 6px;
    background-color: #F3F9FA;
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-right: 17px;
    background-position: 20px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
    text-align: right;
    caret-color: transparent;
    height: 48px;
}

.secondPart {
    margin-top: 32px;
    background: #00474B;
    border-radius: 15px;
    padding: 39px 22px 24px 24px;
}

.amountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondPartHeading {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.person {
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}

.totalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.resetButton {
    margin-top: 33px;
    background: #26C2AE;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    color: #00474B;
}

.tipAmount {
    font-size: 32px;
    line-height: 47px;
    color: #26C2AE;
}

.totalAmount {
    font-size: 32px;
    line-height: 47px;
    color: #26C2AE;
}

.secondInputHead {
    display: flex;
    justify-content: space-between;
}

.error {
    display: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #E17457;
    text-align: right;
    margin-top: 32px;
}

@media (min-width: 1440px) {
    body {
        padding: 163px 260px 240px 260px
    }

    .mainDiv {
        margin-top: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 920px;
        padding: 32px 32px 32px 48px;
        border-radius: 25px;
    }

    .firstPart {
        padding: 0;
    }

    .marginText, .error {
        margin-top: 40px;
    }

    .wrapper {
        grid-template-columns: repeat(3, 117px);
        gap: 16px 14px;
    }

    .secondPart {
        margin-top: 0;
        padding: 40px;
    }

    .totalContainer {
        margin-top: 25px;
    }

    .amountNumber {
        font-size: 48px;
        line-height: 71px;
    }

    .totalNumber {
        font-size: 48px;
        line-height: 71px;
    }

    .resetButton {
        margin-top: 122px;
        width: 333px;
    }

    .tipAmount, .totalAmount {
        font-size: 48px;
        line-height: 71px;
    }
}
